@charset "UTF-8";

html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
body {
	margin:0;
	padding:0;
	background-attachment: scroll;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    padding: 5px 0;
}

h1 {
    font-size: 26px;
    padding: 20px 0;
    text-transform: uppercase;
}

h2 {
    font-size: 16px;
    padding: 10px 0;
}

a {
    color: #1C1E98;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#content {
    padding: 10px;
    position: relative;
}

#content, #footer .footer-content {
    margin: 0 auto;
    padding: 10px;
    width: 1000px;
}

#logo_container {
	height:90px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#logo_image {
	width:255px;
	height:75px;
	margin-left:10px;
	margin-top:15px;
	float:left;
	background-image: url(../images/logo.gif);
}

#header {
	width:100%;
	height:90px;
	background-color:#000000;
}

#footer {
    position: relative;
    margin-top: -110px;
    height: 110px;
    clear:both;
    width: 100%;
}
#footer .footer-background {
    color: #fff;
    background-color:#000000;
    height: 80px;
}

#copywriteblock {
    height: 20px;
    margin-top: 10px;
    text-align: center;
}

#nav_block {
	width: 400px;
	height:90px;
	float:right;
}

.nav_button {
	width: 70px; /*This number you can edit when you need to add more with to fit your text inside the button */
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left:5px;
	margin-top:35px;
	text-align:center;
	float:left;
}

.nav_button:link {
	text-decoration:none;
}

.nav_button:hover {
	text-decoration:none;
	background-color:#333333;
    cursor: pointer;
}

/* forms */
form.form {
    width: 500px;
}
form.form .row {
    margin-bottom: 15px;
}
form.form .row-block label {
    display: block;
    margin-bottom: 5px;
}
input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 480px;
    background: #FFFFFF;
}

textarea {
    height: 150px;
    line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
}

input, textarea {
    box-shadow: rgba(0,0,0, 0.1) 0 0 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0 0 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0 0 8px;
}

.form label {
    margin-left: 10px;
    color: #999999;
}

form.form .submit {
    text-align: right;
}

.submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
}
.submit input:hover {
    cursor: pointer;
}

/** record list */
.records-list > li {
    margin-bottom: 20px;
}
.records-list .list-title {
    font-size: 20px;
    padding-bottom: 5px;
}
.records-list .list-title:first-letter {
    text-transform: uppercase;
}

/** messages */
div.messages {
    border: 1px solid currentColor;
    margin: 15px 0;
    padding: 10px 10px 10px 50px;
}
div.messages.error {
    color: #8C2E0B;
    background-color: #FEF5F1;
}
div.messages.success {
    border-color: #be7;
    color: #234600;
    background-color: #f8fff0;
}
div.messages.warning {
    color: #840;
    background-color: #fffce5;
}
