<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %} Heartlys - Place Your Company Name Here {% endblock %}</title>
        <link href="/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="/css/stylesheet.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
    <div id="wrap">
        <div id="header" class="clearfix">
            <div id="logo_container">
                <div id="logo_image"> </div>
                <div id="nav_block" class="clearfix">
                    <div class="nav_button">Home </div>
                    <div class="nav_button"> Contact</div>
                    <div class="nav_button"> About</div>
                    <div class="nav_button"> Links</div>
                    <div class="nav_button"> Services </div>
                </div>
            </div>
        </div>
        <div id="content">

            {% block messages %}
                {{ show_messages(messages.getMessages()) }}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="footer">
        <div class="footer-background">
            <div class="footer-content">
                qwerty
            </div>
        </div>
        <div id="copywriteblock"> copyright 2015 </div>
    </div>
    </body>
</html>
