{% for mtype, message in messages %}
    {% if message is not empty %}
        <div class="messages {{ mtype }}">
            <ul>
                {% for text in message %}
                    <li>{{ text }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endfor %}
